<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="container" style="padding-top: 15px;">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-4 col-md-2">
            <img src="./assets/user-512.png" alt="" class=" img-circle img-responsive" />
          </div>
          <div class="col-sm-4 col-md-4">
            <h4 class="text-danger">Muhammad Jawad Ur Rehman</h4>
            <small>
              <cite title="San Francisco, USA">Club : San Francisco, USA
                <i class="glyphicon glyphicon-map-marker"></i>
              </cite>
            </small>
            <p>
              <i class="glyphicon glyphicon-envelope"></i> jawadpak@gmail.com
              <br />
              <i class="glyphicon glyphicon-user"></i> Gender : Male
              <br />
              <i class="glyphicon glyphicon-user"></i> Coach Name : Michle Jhon
              <br />
              <i class="fa fa-calendar "></i> Club Start Date: June 02, 2017<br />
              <i class="fa fa-calendar "></i> Date: July 02, 1984</p>

          </div>
          <div class="col-sm-4 col-md-4">
            <h4 class="text-danger">Contact Info</h4>
            <small>
              Office Address : <cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
            <p>
              <i class="fa fa-circle"></i> Resident Address : San Francisco, 7A USA 78236
              <br />
              <i class="fa fa-mobile-phone"></i> Mobile : 0345-78945626
              <br />
              <i class="fa fa-phone-square"></i> Phone : +95-456789123
              <br />
              <i class="fa fa-facebook-square"></i> <a href="http://www.facebook.com">Facebook</a>
              <br />
              <i class="fa fa-twitter-square"></i> <a href="http://www.facebook.com">Twitter</a>

            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-danger"><i class="fa fa-heart"></i> FITNESS</h4>
          </div>
          <div class="panel-body">
            <div class="text-danger"><b>YOUR WORKOUT</b></div>
            <!-- <div class="col-sm-4 col-md-5">
              <img src="./assets/workout-package_1.png" alt="" class=" img-thumbnail img-responsive" />
            </div> -->
            <div class="col-sm-8 col-md-12 well">
              <img src="./assets/workout-package_1.png" alt="" class=" img-thumbnail img-responsive" />
              You are on <b class="text-danger">Day 1</b> of your work out plan. You are <b class="text-danger"> schedule to work out today</b>.Be sure to track step your below! </div>
          </div>
        </div>
        <!-- 2nd panel -->
        <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="text-danger"> YOUR 7 DAY WORKOUT SCHEDULE</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Today</th>
                  <th>Daily Exercise + 9000 Steps</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sat 15th</td>
                  <td>Daily Exercise + 9000 Steps</td>
                </tr>
                <tr>
                  <td>Sun 16th</td>
                  <td>Daily Exercise + 9000 Steps</td>
                </tr>
                <tr>
                  <td>Mon 17th</td>
                  <td>Daily Exercise + 9000 Steps</td>
                </tr>
                <tr>
                  <td>Tue 18th</td>
                  <td>Daily Exercise + 9000 Steps</td>
                </tr>
                <tr>
                  <td>Wed 19th</td>
                  <td> Daily Exercise + 9000 Steps</td>
                </tr>
                <tr>
                  <td>Thu 20th</td>
                  <td>Daily Exercise + 9000 Steps</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- 2nd panel -->

        <!-- 3rd panel -->
        <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="text-danger"> TRACK STEP</h4>
            <div class="col-lg-2" style="padding: 12px;">
              00
            </div>
            <div class="col-lg-8">
              <md-slider class="example-margin" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel" [tick-interval]="tickInterval" [value]="value" [vertical]="vertical">
              </md-slider>
            </div>
            <div class="col-lg-2" style="padding: 12px;">
              10000
            </div>
          </div>
        </div>
        <!-- 3rd panel -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-danger"><i class="fa fa-cutlery"></i> MEAL PLAN</h4>
          </div>
          <div class="panel-body">
            <h4 class="text-danger">FEATURED RECIPE</h4>
            <div class="col-md-10">
              <img src="./assets/recipes/Beef_and_Vegetable_Kabob.jpg" width="250" height="150" alt="" class=" img-thumbnail img-responsive" style="height:150px" />
            </div>
            <div class="col-sm-8 col-md-12">
              <h4 class="text-primary">Ahi Tuna Poke & White Quinoa</h4>
            </div>
          </div>
        </div>
        <!-- 2nd panel -->
        <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="text-danger"> RECOMMENDED MEALS & SNACKS</h4>
            <div class="panel-body well">
              <!-- Nav tabs -->
              <ul class="nav nav-pills">
                <li class="active"><a href="#home-pills" data-toggle="tab" aria-expanded="true">B</a>
                </li>
                <li class=""><a href="#home-pills" data-toggle="tab" aria-expanded="false">S</a>
                </li>
                <li class=""><a href="#home-pills" data-toggle="tab" aria-expanded="false">L</a>
                </li>
                <li class=""><a href="#home-pills" data-toggle="tab" aria-expanded="false">S</a>
                </li>
                <li class=""><a href="#home-pills" data-toggle="tab" aria-expanded="false">D</a>
                </li>

              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade active in" id="home-pills">
                  <div class="list-group" style="padding-top:10px;">
                    <a href="#" class="list-group-item list-group-item-danger active">GREEK YOGURT & SNACKS</a>
                    <a href="#" class="list-group-item">Greek Yogurt</a>
                    <a href="#" class="list-group-item">Mixed fruit</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- 2nd panel -->
        <!-- 3rd panel -->
        <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="text-danger"> WATER TRACKER</h4>
            <h2 class="col-lg-2">
              -
            </h2>
            <div class="col-lg-8">
              <md-slider style="padding-top: 13px;" class="example-margin" [max]="max1" [min]="min" [step]="step1" [thumb-label]="thumbLabel" [tick-interval]="tickInterval" [value]="value1" [vertical]="vertical">
              </md-slider>
            </div>
            <h2 class="col-lg-2">
              +
            </h2>
          </div>
        </div>
        <!-- 3rd panel -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-danger"><i class="fa fa-wechat"></i> COACHING</h4>
          </div>
          <div class="panel-body">
            <h4 class="text-danger">MESSAGES <button type="button" class="btn btn-danger btn-circle">3</button></h4>
            <div class="col-md-12">
              <div class="well well-lg">
                <b>Message:</b> Coach Tine<br/>
                <b>Subject:Read - Article Name</b> <br/> Lorem ipsum dolor sit amet,  velit esse cillum dolore eu fugiat nulla pariatur........ <a class="text-primary">Read More</a>
              </div>
            </div>

          </div>
        </div>
        <!-- 2nd panel -->
        <!-- <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="text-danger"> REMINDERS <button type="button" class="btn btn-danger btn-circle">2
                            </button> </h4>
            <div class="panel-body well">
              <!ll- Nav tabs -klll->
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <i class="fa fa-bell fa-fw"></i> Your next exercise is Friday 6/17/13
                </a>
                <a href="#" class="list-group-item">
                  <i class="fa fa-bell fa-fw"></i> Don't forget your step arget
                </a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- 2nd panel -->
        <!-- 3rd panel -->
        <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="text-danger"> Article</h4>
            <div class="col-sm-4 col-md-12">
              <!-- <div class="col-sm-4 col-md-4">
                <img src="http://placehold.it/380x500" alt="" class="img-thumbnail img-responsive" />
              </div> -->
              <div class="col-sm-8 col-md-12 well">
                <img src="./assets/fitness-magazines-that-pay-writers.png" alt="" class="img-thumbnail img-responsive" />

                <b class="text-danger">Daine Magzine</b> <br/>
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum dolor sit.....! </div>
            </div>
            <div class="col-sm-4 col-md-12">
              <!-- <div class="col-sm-4 col-md-4">
                <img src="http://placehold.it/380x500" alt="" class="img-thumbnail img-responsive" />
              </div> -->
              <div class="col-sm-8 col-md-12 well">
                <img src="./assets/86529485.jpg" alt="" class="img-thumbnail img-responsive" />
                <b class="text-danger">Blog Fourm Topic</b> <br/>
                Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit Lorem ipsum.....! </div>
            </div>
          </div>
        </div>
        <!-- 3rd panel -->
      </div>
    </div>
  </div>
</div>
