<div _ngcontent-c4="" class="col-lg-12">
  <div _ngcontent-c4="" class="container" style="padding-top: 15px;">
    <div _ngcontent-c4="" class="well well-sm">
      <div _ngcontent-c4="" class="row">
        <div _ngcontent-c4="" class="col-sm-4 col-md-2">
          <img _ngcontent-c4="" alt="" class=" img-circle img-responsive" src="./assets/user-512.png">
        </div>
        <div _ngcontent-c4="" class="col-sm-4 col-md-4">
          <h4 _ngcontent-c4="" class="text-danger">Muhammad Jawad Ur Rehman</h4>
          <small _ngcontent-c4="">
              <cite _ngcontent-c4="" title="San Francisco, USA">Club : San Francisco, USA
                <i _ngcontent-c4="" class="glyphicon glyphicon-map-marker"></i>
              </cite>
            </small>
          <p _ngcontent-c4="">
            <i _ngcontent-c4="" class="glyphicon glyphicon-envelope"></i> jawadpak@gmail.com
            <br _ngcontent-c4="">
            <i _ngcontent-c4="" class="glyphicon glyphicon-user"></i> Gender : Male
            <br _ngcontent-c4="">
            <i _ngcontent-c4="" class="glyphicon glyphicon-user"></i> Coach Name : Michle Jhon
            <br _ngcontent-c4="">
            <i _ngcontent-c4="" class="fa fa-calendar "></i> Club Start Date: June 02, 2017<br _ngcontent-c4="">
            <i _ngcontent-c4="" class="fa fa-calendar "></i> Date: July 02, 1984</p>

        </div>
        <div _ngcontent-c4="" class="col-sm-4 col-md-4">
          <h4 _ngcontent-c4="" class="text-danger">Contact Info</h4>
          <small _ngcontent-c4="">
              Office Address : <cite _ngcontent-c4="" title="San Francisco, USA">San Francisco, USA <i _ngcontent-c4="" class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
          <p _ngcontent-c4="">
            <i _ngcontent-c4="" class="fa fa-circle"></i> Resident Address : San Francisco, 7A USA 78236
            <br _ngcontent-c4="">
            <i _ngcontent-c4="" class="fa fa-mobile-phone"></i> Mobile : 0345-78945626
            <br _ngcontent-c4="">
            <i _ngcontent-c4="" class="fa fa-phone-square"></i> Phone : +95-456789123
            <br _ngcontent-c4="">
            <i _ngcontent-c4="" class="fa fa-facebook-square"></i> <a _ngcontent-c4="" href="http://www.facebook.com">Facebook</a>
            <br _ngcontent-c4="">
            <i _ngcontent-c4="" class="fa fa-twitter-square"></i> <a _ngcontent-c4="" href="http://www.facebook.com">Twitter</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row col-lg-12">
  <div _ngcontent-c4="" class="container" style="padding-top: 15px; padding-left:26px;">
    <div _ngcontent-c4="" class="well well-sm">
      <div _ngcontent-c4="" class="row">
        <div _ngcontent-c4="" class="col-sm-4 col-md-4">
          <ul class="list-inline" style="padding-left:35px">
            <li><label class="text-danger">Nutrition</label></li>
            <li><label class="text-danger">Fitness</label></li>
            <li><label class="text-danger">Message</label></li>
          </ul>
        </div>
        <div class="col-sm-8 col-md-8 pull-left">
          <label class="text-danger pull-right">Coach Member List</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row col-lg-12">
  <div _ngcontent-c4="" class="container" style="padding-top: 15px; padding-left:26px;">
    <div _ngcontent-c4="" class="well well-sm">
      <div _ngcontent-c4="" class="row">
        <div class=" col-sm-4 col-md-4">
          <div class="form-group text-danger">
            <label>Title</label>
            <input class="form-control" value="Message Title">
          </div>
        </div>
        <div class="col-sm-4 col-md-4" style="padding-top:22px">
          <div class="form-group text-danger">
            <md-form-field>
              <input mdInput [mdDatepicker]="picker" [(ngModel)]="date" placeholder="Choose a date">
              <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
              <md-datepicker #picker></md-datepicker>
            </md-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-md-10">
          <textarea class="form-control" rows="5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</textarea>
          <button type="button" class="btn btn-link">Cancel</button>
          <button type="button" class="btn btn-success" style="margin-top:10px">Send Message</button>
        </div>
      </div>
    </div>
  </div>
</div>
