<div class=" row col-sm-12 col-md-12">
  <h4 class="text-danger page-header">Add Recipe</h4>
</div>
<div class="row col-sm-12 col-md-12">
  <div class=" col-sm-4 col-md-4">
    <div class="form-group text-danger">
      <label>Title</label>
      <input class="form-control" value="Grandma's Recipe - Pork steak with Apple">
    </div>
  </div>
</div>
<div class="row col-sm-12 col-md-12 text-danger">
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <label>Vegetarian?</label>
      <select class="form-control">
        <option>No</option>
        <option>Yes</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <label>Meal</label>
      <select class="form-control">
        <option>Dinner</option>
        <option>Lunch</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <label>Cusine</label>
      <select class="form-control">
        <option>Asian</option>
        <option>Lunch</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <label>Category</label>
      <select class="form-control">
        <option>Meats and Poultry</option>
        <option>Lunch</option>
      </select>
    </div>
  </div>
</div>

<div class="row col-sm-12 col-md-12 text-danger">
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <label>Quantity</label>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <label>Measurement</label>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <label>Item</label>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <label>Preparation (Optional)</label>
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <label>Cal</label>
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <label>Protien</label>
    </div>
  </div>

  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <label>Carbs</label>
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <label>Fat</label>
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <label>Add/Delete</label>
    </div>
  </div>
</div>
<!-- row one -->
<div class="row col-sm-12 col-md-12 text-danger">
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="2">
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <select class="form-control">
        <option>cup(s)</option>
        <option>Yes</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <input class="form-control" value="Pork tenderlonis">
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <input class="form-control" value="Seasoned">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="275">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="15">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="25">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="10">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <span class="fa fa-plus"> </span> &nbsp; &nbsp; &nbsp;
      <span class="fa fa-minus"> </span>

    </div>
  </div>
</div>

<!-- row two -->
<div class="row col-sm-12 col-md-12 text-danger">
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="1">
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <select class="form-control">
        <option>cup(s)</option>
        <option>Yes</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <input class="form-control" value="Vegitable Oil">
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <input class="form-control" value="">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="50">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="0">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="25">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="20">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <span class="fa fa-plus"> </span> &nbsp; &nbsp; &nbsp;
      <span class="fa fa-minus"> </span>

    </div>
  </div>
</div>

<!-- row three -->
<div class="row col-sm-12 col-md-12 text-danger">
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="1/4">
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <select class="form-control">
        <option>cup(s)</option>
        <option>Yes</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <input class="form-control" value="Dijon Mustard">
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <input class="form-control" value="">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="25">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="0">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="10">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="1">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <span class="fa fa-plus"> </span> &nbsp; &nbsp; &nbsp;
      <span class="fa fa-minus"> </span>

    </div>
  </div>
</div>

<!-- row four -->
<div class="row col-sm-12 col-md-12 text-danger">
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="1">
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <select class="form-control">
        <option>cup(s)</option>
        <option>Yes</option>
      </select>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group dropdown open">
      <input class="form-control" value="On|">
      <ul class="dropdown-menu dropdown-alerts text-danger">
        <li>
          Shiitake Mushroom (Fresh)
        </li>
        <li class="divider"></li>
        <li>
          Shiitake Mushroom (Dried)
        </li>
        <li class="divider"></li>
        <li>
          Worchestershire Sauce
        </li>
        <li class="divider"></li>
        <li>
          Siraz
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <div class="form-group ">
      <input class="form-control" value="">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control" value="">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <span class="fa fa-plus"> </span> &nbsp; &nbsp; &nbsp;
      <span class="fa fa-minus"> </span>

    </div>
  </div>
</div>

<!-- row five -->
<div class="row col-sm-12 col-md-12 text-danger">

  <div class="col-sm-1 col-md-1 col-md-offset-7">
    <div class="form-group">
      <input class="form-control input-total" value="350">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control input-total" value="15">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control input-total" value="60">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <input class="form-control input-total" value="31">
    </div>
  </div>

</div>

<!-- row six -->
<div class="row col-sm-12 col-md-12 text-danger">
  <div class="col-sm-1 col-md-1 ">
    <div class="form-group">
      <label>Serve</label>
      <input class="form-control" value="350">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <label>Prep Time</label>
      <input class="form-control" value="15">
    </div>
  </div>
  <div class="col-sm-1 col-md-1">
    <div class="form-group ">
      <label>Cook Time</label>
      <input class="form-control" value="60">
    </div>
  </div>
</div>

<!-- row seven -->
<div class="row col-sm-12 col-md-12 text-danger">
  <div class="col-sm-5 col-md-5 ">
    <div class="form-group">
      <label>Recipe Instruction (Press enter for each step)</label>
      <textarea class="form-control" rows="14">Whisk flour, flaxseed meal, baking powder, baking soda and salt in a bowl.
In another bowl, beat butter and stevia with a hand mixer until light and fluffy; add egg whites and vanilla, and beat until just combined.
Gradually stir flour mixture into butter mixture until combined.
Form dough into a log, Wrap tightly in a waxed paper and refrigerate for at least 3 hours.
Cut out cookies using a 2-inch cutter and bake until firm, for about 6-8 minutes.</textarea>
    </div>
  </div>
  <div class="col-sm-7 col-md-7 ">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b> Recipe Nutrition Info</b>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="list-group">
          <ul>
            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>Protien</strong>
                    <span class="pull-right text-muted">40% Complete</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>Carbs</strong>
                    <span class="pull-right text-muted">30% Complete</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <span class="sr-only">30% Complete</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div>
                  <p>
                    <strong>Fat</strong>
                    <span class="pull-right text-muted">30% Complete</span>
                  </p>
                  <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                      <span class="sr-only">30% Complete (danger)</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <span>
            *Note : Recommended Nutrition Ratio ( <var>Protien 35-45%</var>, <var> Carbs 30-40%</var>, <var>Fat 25-35%</var> )
</span>
        </div>
        <!-- /.list-group -->
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>
<button type="button" class="btn btn-success">Success</button>
